@model Format
@{
    ViewData["Title"] = "Add Format";
}

<h2>Create New Format</h2>

<form asp-action="AddFormat" method="post" class="form-horizontal" role="form">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="FormatName" class="col-md-2 control-label">Format Name</label>
        <div class="col-md-5">
            <input asp-for="FormatName" class="form-control" />
            <span asp-validation-for="FormatName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FormatDesc" class="col-md-2 control-label">Format Desc.</label>
        <div class="col-md-5">
            <textarea asp-for="FormatDesc" class="form-control"></textarea>
            <span asp-validation-for="FormatDesc" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FormatLink" class="col-md-2 control-label">Link to Official Rules</label>
        <div class="col-md-5">
            <input asp-for="FormatLink" class="form-control" />
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Create New Format" />
        </div>
    </div>
</form>

