<footer>
    <div class="container">
        <p class="two_columns first">&copy; 2018 - Four Horsemen Comics and Gaming<br>
            9201 Mall Rd<br>
            Morgantown, West Virginia 26501<br>
            (304) 581-4461<br>
            Email: <a href="mailto:info@fourhorsemencomics.com">info@fourhorsemencomics.com</a></p>
        <p class="two_columns last">
            Store Hours:<br>
            Monday-Friday: 10AM-9PM<br>
            Saturday: 10AM-9PM<br>
            Sunday: 12PM-6PM<br>
        </p>
    </div>
</footer>