// Primary Color Pallete

$primary: #ad201b;
$secondary: #eaaa00;


// PRIMARY
$wvu-blue: #002855;
$wvu-gold: #eaaa00;
$blue-alternate: #0033a0;

//  Secondary
$gold-secondary-light: #ffe894;
$blue-secondary-light: #a0c4da;
$blue-secondary-middle: #005EB8;
$orange-dark: #d9531e;
$wvu-orange: #f47b20; // Gotta prefix wvu-* here to make TWBS buttons happy.
$grey-middle: #5c6f7c;
$wvu-black:#2c2A29; 
$black-ninety-five:#1A1A1A ;
$black-ninety:#5a5a5a;
$black-eightyfive:#555555;
// 100% Black: #000;

// Tertiary
$red: #bb471a;
$grey-blue: #abc;
$grey-dark: #333f48;
$grey-light: #e0e0e0;
$blue-vibrant: #39f;
$blue-grey: #369;
$purple-bright: #60c;
$warm-grey:#968c83;
$dark-grey:#2C2A29;
$basecolor: #333;


// Typography Families
$alfa_slab_one: 'Alfa Slab One', cursive;

// Max Page Widths

$max-page-width-large: 960px;
$max-page-width-xxxlarge: 1440px;
$backpage-content-container: 960px;

// Double Abstraction
$linkcolor: $primary;
$linkhover: $secondary;
$linkvisited: $primary;
$button-color: $primary;
$button-color-reverse: white;

// Breakpoints
$bp-tiny: 320px;
$bp-mini: 420px;
$bp-xxxsmall: 480px;
$bp-xxsmall: 510px;
$bp-xsmall: 608px;
$bp-small: 720px;
$bp-medium: 768px;
$bp-regular: 900px;
$bp-large: 960px;
$bp-xlarge: 1024px;
$bp-xxlarge: 1280px;
$bp-xxxlarge: 1440px;
$bp-xxxxlarge: 1560px;
$bp-cinema:2000px;

@mixin bp-tiny {
 @media (min-width: #{$bp-tiny}) {
    @content;
  }
}
@mixin bp-mini {
  @media (min-width: #{$bp-mini}) {
    @content;
  }
}
@mixin bp-xxxsmall {
 @media (min-width: #{$bp-xxxsmall}) {
    @content;
  }
} 
@mixin bp-xxsmall {
 @media (min-width: #{$bp-xxsmall}) {
    @content;
  }
}
@mixin bp-xsmall {
 @media (min-width: #{$bp-xsmall}) {
    @content;
  }
}
@mixin bp-small {
  @media (min-width: #{$bp-small}) {
    @content;
  }
}
@mixin bp-medium {
 @media (min-width: #{$bp-medium}) {
    @content;
  }
}
@mixin bp-regular {
  @media (min-width: #{$bp-regular}) {
    @content;
  }
}
@mixin bp-large {
 @media (min-width: #{$bp-large}) {
    @content;
  }
}
@mixin bp-xlarge {
  @media (min-width: #{$bp-xlarge}) {
    @content;
  }
}
@mixin bp-xxlarge {
  @media (min-width: #{$bp-xxlarge}) {
    @content;
  }
}
@mixin bp-xxxlarge {
  @media (min-width: #{$bp-xxxlarge}) {
    @content;
  }
}
@mixin bp-xxxxlarge {
  @media (min-width: #{$bp-xxxxlarge}) {
    @content;
  }
}
@mixin bp-cinema {
  @media (min-width: #{$bp-cinema}) {
    @content;
  }
}
@mixin bp-retina {
  @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) { 
      @content;
  }
}