@{
    ViewData["Title"] = "About";
}
<h2>Four Horsemen Comics and Gaming</h2>
<h3>Store Hours</h3>
<p>
    Monday: 10:00 - 9:00</br>
    Tuesday: 10:00 - 9:00</br>
    Wednesday: 10:00 - 9:00</br>
    Thursday: 10:00 - 9:00</br>
    Friday: 10:00 - 9:00</br>
    Saturday: 10:00 - 9:00</br>
    Sunday: 12:00 - 6:00</br>
    (This is what we tell the Mall anyway.. shhhh... Depending on the day and what event is running, 
    it's not unheard of for the party to be going on well into the night!)
</p>
<h3>Our History</h3>

<img src="~/images/StoreFront.jpg" align="middle" alt="Store Front" >
<p>
    Established in 2010, Four Horsemen Comics and Gaming started out in a small mall store. From the begining we 
    our goal was to serve the local community of Morgantown, West Virginia.
    We have strive to create an inclusive and fun envoirment where all feel welcome. We work hard
    every day to make sure that our store feels like home. After all without you the community it would just be an
    empty store.
</p>
