@{
    ViewData["Title"] = "Contact";
}
<h2>Contact Us</h2>
<h3>Comment, Complaint, Suggestion - we want to hear from you!</h3>
</br>
<h4><strong>Our Locations</strong></h4>
<address>
    9201 Mall Road<br />
    Morgantown, WV 26501<br />
    <a href="https://www.google.com/maps?hl=en&q=9201+Mall+Road,+Morgantown,+WV+26501">Map</a>
    <abbr title="Phone">P:</abbr>
    304.581.4461
</address>
<h4><strong>Email Us</strong></h4>
<address>
    <strong>Email:</strong> <a href="mailto:info@fourhorsemencomics.com">info@fourhorsemencomics.com</a><br />
</address>
<address>
    <h4><strong>Connect With Us On Social Media</strong></h4>
    <a href="https://www.facebook.com/fourhorsemencomics/">Facebook</a><br />
    <a href="https://www.instagram.com/fourhorsemencomics/">Instagram</a><br />
    <a href="https://www.twitch.tv/fourhorsemencomics">Twitch</a><br />
    <a href="https://twitter.com/4horsemencomics">Twitter</a><br />
    <a href="https://www.youtube.com/channel/UCTEgsJOd5tTtYOB2JkQyI4w">Youtube</a><br />
</address>