@model IEnumerable<FHM.Models.PlayerIDModel.PlayerID>
@{
    ViewData["Title"] = "Index";
}
<h2>My Game IDs </h2>
<h3><a asp-action="Create">Add A New Player ID</a></h3>

@foreach (var item in Model)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@item.Game.GameImageThumbnailURL" alt="@item.Game.GameName">
            @Html.DisplayFor(modelItem => item.PlayerGameID)
            <a asp-action="Delete" asp-route-id="@item.PlayerIDID">Delete</a>
        </div>
    </div>
}